%table.table.table-striped.table-hover
  %thead
    %tr.row
      %th Name
      %th Status
      %th Organizations
      %th Upcoming Milestone
  %tbody
    - @missions.each do |mission|
      %tr.row
        %td= link_to mission.name, mission_path(mission.id)
        %td= mission.status
        %td= mission.formatted_organizations
        %td= mission.next_milestone.try :name
