%nav.nav
  =link_to "Space Missions", missions_path, class: "navbar-brand"
  =link_to "Missions", missions_path, class: "nav-link navbar-text"
  =link_to "Milestones", milestones_path, class: "nav-link navbar-text"
  =link_to "Organizations", "#", class: "nav-link navbar-text"
